<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block meta %}
  {% end %}

  <!-- fix browser path for sub folder site -->
  <!-- <base href="http://www.example.com/page.html"> -->

  <link rel="stylesheet" href="/css/style.min.css">

  <title>{% block title %}Главная страница ABC Data Test{% end %}</title>
</head>
<body class="pageBody">
  {% module PageHeader() %}

  <main class="pageMain">
    <div class="pageMain__wrapper width width--fullscreen">
      {% block content %}
      <div class="pageLayout">

        <div class="content">
          <h1 class="heading heading--h1">О нас</h1>
          <p class="text">
            Некоторая информация о Компании
          </p>
        </div>

        <div class="content">
          <h2 class="heading heading--h2">Каталог</h2>
          <p class="text">
            <a class="text text--link" href="/catalog">КАТАЛОГ</a>
          </p>
        </div>
        
        <div class="content">
          <h2 class="heading heading--h2">Новости</h2>
          <p class="text">
            Блок актуальных новостей 3-4 штуки
          </p>
        </div>
        
        <div class="content">
          <h2 class="heading heading--h2">Сервисы</h2>
          <p class="text">
            Блок описывающий возможные Сервисы (Шеф-монтаж, Обучение монтажу и т.п.)
          </p>
        </div>
        
        <div class="content">
          <h2 class="heading heading--h2">
            <a href="/contacts" class="text--link">Партнеры</a>
          </h2>
        </div>

      </div>

      {% end %}
    </div>
    
    {% block content-wide %}
        
    {% end %}
  </main>

  {% module PageFooter() %}

  {% block scrips %}
  {% end %}
  
</body>
</html>