<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block meta %}
  {% end %}

  <!-- fix browser path for sub folder site -->
  <!-- <base href="http://www.example.com/page.html"> -->

  <link rel="stylesheet" href="/css/style.min.css">

  <title>{% block title %}Главная страница ABC Data Test{% end %}</title>
</head>
<body class="pageBody">
  {% module PageHeader(main_nav_active) %}

  <main class="pageMain">
    <div class="pageMain__wrapper width width--fullscreen">
      {% block content %}
      <div class="pageLayout">

        <div class="content">
          <h1 class="heading heading--h1">О нас</h1>
          <p class="text">
            Некоторая информация о Компании
          </p>
        </div>

        <div class="content">
          <h2 class="heading heading--h2">Cамые популярные продукты</h2>
          <div class="grid">
            <a class="grid__item grid__item--bordered grid__item--link" href="/catalog/shpon/dv/epdm?shpon=0">
              <div class="grid__img-wrapper">
                <img class="img grid__img" src="img/content/dv/dv-170-12-pvc.png" alt="">
              </div>
              <h5 class="heading heading--h5 heading--margin-sm">Гидроизоляционная шпонка АКВАСТОП</h5>
              <h4 class="heading heading--h4 heading--margin-sm">тип ДВ-170/12</h4>
              <p class="text">Материал: Резиновые (EPDM)</p>
            </a>
            <a class="grid__item grid__item--bordered grid__item--link" href="/catalog/joints/dsha/dsha0?joints=0">
              <div class="grid__img-wrapper">
                <img class="img grid__img" src="img/content/dsha/a1030.png" alt="">
              </div>
              <h5 class="heading heading--h5 heading--margin-sm">Дилатационное устройство АКВАСТОП</h5>
              <h4 class="heading heading--h4 heading--margin-sm">тип ДША-0</h4>
              <p class="text">Материал: Аллюминий</p>
            </a>
            <a class="grid__item grid__item--bordered grid__item--link" href="#TODO-catalog">
              <div class="grid__img-wrapper">
                <img class="img grid__img" src="img/content/dgk/g5-048.png" alt="">
              </div>
              <h5 class="heading heading--h5 heading--margin-sm">Дилатационное устройство АКВАСТОП</h5>
              <h4 class="heading heading--h4 heading--margin-sm">тип ДГК-5</h4>
              <p class="text">Материал: Аллюминий</p>
            </a>
            <a class="grid__item grid__item--bordered grid__item--link" href="/catalog/shpon/dv/pvc?shpon=0">
              <div class="grid__img-wrapper">
                <img class="img grid__img" src="img/content/dv/dv-400-50-pvc.png" alt="">
              </div>
              <h5 class="heading heading--h5 heading--margin-sm">Гидроизоляционная шпонка АКВАСТОП</h5>
              <h4 class="heading heading--h4 heading--margin-sm">тип ДВ-400/50</h4>
              <p class="text">Материал: ПВХ-П</p>
            </a>
          </div>
        </div>
        
        <div class="content">
          <h2 class="heading heading--h2">Новости</h2>
          <p class="text">
            Блок актуальных новостей 3-4 штуки
          </p>
        </div>
        
        <div class="content">
          <h2 class="heading heading--h2">Сервисы</h2>
          <p class="text">
            Блок описывающий возможные Сервисы (Шеф-монтаж, Обучение монтажу и т.п.)
          </p>
        </div>
        
        <div class="content">
          <h2 class="heading heading--h2">
            <a href="/partners" class="text--link">Партнеры</a>
          </h2>
        </div>

      </div>

      {% end %}
    </div>
    
    {% block content-wide %}
        
    {% end %}
  </main>

  {% module PageFooter() %}

  {% block scrips %}
  {% end %}
  
</body>
</html>