{% extends './index.html' %}

{% block title %}Аквабарьер - Информация{% end %}

{% block content %}

  <div class="pageLayout">

    <div class="content">
      <h1 class="heading heading--h1">Информация</h1>
      <ul class="list">
        <li class="list__item">
          <a href="#TODO" class="text text--link">Статьи</a>
        </li>
        <li class="list__item">
          <a href="#TODO" class="text text--link">Решения</a>
        </li>
        <li class="list__item">
          <a href="#TODO" class="text text--link">Ссылки на ГОСТы</a>
        </li>
        <li class="list__item">
          <a href="#TODO" class="text text--link">Документация</a>
        </li>
      </ul>
    </div>
  </div>
{% end %}