{% extends './index.html' %}

{% block title %}Аквабарьер - Объекты{% end %}

{% block content %}

  <div class="pageLayout">

    <div class="content">
      <h1 class="heading heading--h1">Объекты</h1>
      <p class="text">
        На этой странице предполагается разместить информацию об Объектах, на которых были произведены работы или на которые была поставлена продукция.
      </p>
    </div>
  </div>
{% end %}

{% block content-wide %}
<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Af7852e1064d2252d82a107cf6afbea65a0943c131c43b61a45439582df2fc956&amp;source=constructor" width="100%" height="700" frameborder="0"></iframe>
{% end %}