@charset "UTF-8";
html,
html * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/* roboto-300 - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/roboto-v20-cyrillic_latin-300.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Light"), local("Roboto-Light"), url("../fonts/roboto-v20-cyrillic_latin-300.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-cyrillic_latin-300.woff2") format("woff2"), url("../fonts/roboto-v20-cyrillic_latin-300.woff") format("woff"), url("../fonts/roboto-v20-cyrillic_latin-300.ttf") format("truetype"), url("../fonts/roboto-v20-cyrillic_latin-300.svg#Roboto") format("svg");
  /* Legacy iOS */
  font-display: swap; }

/* roboto-300italic - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/roboto-v20-cyrillic_latin-300italic.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Light Italic"), local("Roboto-LightItalic"), url("../fonts/roboto-v20-cyrillic_latin-300italic.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-cyrillic_latin-300italic.woff2") format("woff2"), url("../fonts/roboto-v20-cyrillic_latin-300italic.woff") format("woff"), url("../fonts/roboto-v20-cyrillic_latin-300italic.ttf") format("truetype"), url("../fonts/roboto-v20-cyrillic_latin-300italic.svg#Roboto") format("svg");
  /* Legacy iOS */
  font-display: swap; }

/* roboto-regular - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v20-cyrillic_latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto-v20-cyrillic_latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-cyrillic_latin-regular.woff2") format("woff2"), url("../fonts/roboto-v20-cyrillic_latin-regular.woff") format("woff"), url("../fonts/roboto-v20-cyrillic_latin-regular.ttf") format("truetype"), url("../fonts/roboto-v20-cyrillic_latin-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
  font-display: swap; }

/* roboto-italic - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/roboto-v20-cyrillic_latin-italic.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Italic"), local("Roboto-Italic"), url("../fonts/roboto-v20-cyrillic_latin-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-cyrillic_latin-italic.woff2") format("woff2"), url("../fonts/roboto-v20-cyrillic_latin-italic.woff") format("woff"), url("../fonts/roboto-v20-cyrillic_latin-italic.ttf") format("truetype"), url("../fonts/roboto-v20-cyrillic_latin-italic.svg#Roboto") format("svg");
  /* Legacy iOS */
  font-display: swap; }

/* roboto-700 - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v20-cyrillic_latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/roboto-v20-cyrillic_latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-cyrillic_latin-700.woff2") format("woff2"), url("../fonts/roboto-v20-cyrillic_latin-700.woff") format("woff"), url("../fonts/roboto-v20-cyrillic_latin-700.ttf") format("truetype"), url("../fonts/roboto-v20-cyrillic_latin-700.svg#Roboto") format("svg");
  /* Legacy iOS */
  font-display: swap; }

/* roboto-700italic - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/roboto-v20-cyrillic_latin-700italic.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Bold Italic"), local("Roboto-BoldItalic"), url("../fonts/roboto-v20-cyrillic_latin-700italic.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-cyrillic_latin-700italic.woff2") format("woff2"), url("../fonts/roboto-v20-cyrillic_latin-700italic.woff") format("woff"), url("../fonts/roboto-v20-cyrillic_latin-700italic.ttf") format("truetype"), url("../fonts/roboto-v20-cyrillic_latin-700italic.svg#Roboto") format("svg");
  /* Legacy iOS */
  font-display: swap; }

.pageBody {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  font-family: "Roboto", "Arial", sans-serif;
  background-color: aliceblue; }

.width--fullscreen {
  max-width: 1200px;
  -webkit-margin-start: auto;
          margin-inline-start: auto;
  -webkit-margin-end: auto;
          margin-inline-end: auto; }

.pageHeader {
  width: 100%;
  -webkit-margin-after: 10px;
          margin-block-end: 10px; }

.mainNav__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.mainNav__logo {
  width: 60px;
  height: 45px;
  -webkit-margin-before: 10px;
          margin-block-start: 10px;
  -webkit-margin-after: 10px;
          margin-block-end: 10px;
  -webkit-margin-start: 20px;
          margin-inline-start: 20px; }

.mainNav__bottom {
  height: 45px;
  background-color: royalblue; }

.mainNav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  height: 100%;
  -webkit-padding-start: 0;
          padding-inline-start: 0; }

.mainNav__item {
  -webkit-padding-start: 20px;
          padding-inline-start: 20px;
  -webkit-padding-end: 20px;
          padding-inline-end: 20px;
  -webkit-padding-before: 12px;
          padding-block-start: 12px;
  -webkit-padding-after: 10px;
          padding-block-end: 10px;
  border-right: 1px solid lightblue;
  height: 100%;
  cursor: pointer; }
  .mainNav__item:hover, .mainNav__item:focus {
    cursor: pointer;
    background-color: lightblue; }
  .mainNav__item:hover .mainNav__link,
  .mainNav__item:focus .mainNav__link {
    color: royalblue; }

.mainNav__item--active {
  background-color: skyblue; }

.mainNav__link {
  text-decoration: none;
  color: white;
  font-weight: bolder; }

.mainNav__phone {
  text-decoration: none;
  color: royalblue;
  -webkit-padding-start: 10px;
          padding-inline-start: 10px;
  -webkit-padding-before: 10px;
          padding-block-start: 10px;
  -webkit-padding-after: 10px;
          padding-block-end: 10px;
  -webkit-margin-end: 20px;
          margin-inline-end: 20px; }
  .mainNav__phone:hover, .mainNav__phone:focus, .mainNav__phone:active {
    color: grey; }

.mainNav__search {
  display: none; }

.mainNav__item--burger {
  -webkit-margin-start: auto;
          margin-inline-start: auto; }

.mainNav__burger {
  max-height: 100%; }

.pageMain__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.navTree {
  position: fixed;
  width: 100%;
  max-width: 290px;
  height: auto;
  margin: 10px;
  left: -290px;
  top: 0;
  -webkit-padding-before: 20px;
          padding-block-start: 20px;
  height: 100vh;
  background-color: lightblue;
  overflow-y: scroll;
  z-index: 10; }

.navTree--visible {
  left: -10px; }

.navTree--visible .navTree__slider {
  left: 290px; }

.navTree--visible .navTree__arrowSlider {
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-transform: rotate(180deg) scale(1.3) translate(13px);
          transform: rotate(180deg) scale(1.3) translate(13px); }

.navTree--visible .navTree__list {
  opacity: 1; }

.navTree__slider {
  position: fixed;
  top: 50%;
  left: 0;
  width: 40px;
  height: 40px;
  background-color: grey;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%; }

.navTree__arrowSlider {
  display: block;
  color: lightblue;
  -webkit-margin-start: 12px;
          margin-inline-start: 12px;
  -webkit-margin-before: 10px;
          margin-block-start: 10px;
  -webkit-transform: scale(1.3);
          transform: scale(1.3); }

.navTree__link {
  text-decoration: none;
  color: inherit; }

.navTree__list {
  list-style: none;
  -webkit-padding-start: 10px;
          padding-inline-start: 10px;
  -webkit-margin-after: 12px;
          margin-block-end: 12px;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  opacity: 0.1;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s; }

.navTree__list--first {
  -webkit-padding-start: 0;
          padding-inline-start: 0; }

.navTree__list--third {
  -webkit-padding-start: 20px;
          padding-inline-start: 20px;
  -webkit-padding-end: 20px;
          padding-inline-end: 20px;
  -webkit-padding-before: 5px;
          padding-block-start: 5px;
  -webkit-padding-after: 5px;
          padding-block-end: 5px;
  -webkit-margin-start: 20px;
          margin-inline-start: 20px;
  border: 1px solid lightgrey;
  border-radius: 9px;
  background-color: white; }

.navTree__item .navTree__list {
  display: none; }

.navTree__item--third {
  border-bottom: 1px solid lightgrey; }

.navTree__item--first-active .navTree__list--second,
.navTree__item--second-active .navTree__list--third {
  display: block; }

.navTree__arrow {
  display: inline-block;
  width: 15px;
  -webkit-margin-end: 10px;
          margin-inline-end: 10px;
  -webkit-transition: all;
  transition: all;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s; }

.navTree__arrow--dropped {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  width: 15px; }

.navTree__firstLevel {
  -webkit-padding-before: 5px;
          padding-block-start: 5px;
  -webkit-padding-after: 5px;
          padding-block-end: 5px;
  -webkit-padding-start: 10px;
          padding-inline-start: 10px;
  -webkit-padding-end: 10px;
          padding-inline-end: 10px;
  -webkit-margin-after: 10px;
          margin-block-end: 10px;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 0px;
  -webkit-box-shadow: 2px 0 3px 1px greenyellow;
          box-shadow: 2px 0 3px 1px greenyellow; }
  .navTree__firstLevel:hover, .navTree__firstLevel:focus {
    cursor: pointer;
    color: royalblue;
    border: 1px solid dodgerblue;
    background-color: lightblue; }

.navTree__firstLevel--active {
  background-color: royalblue;
  color: white; }

.navTree__secondLevel {
  -webkit-padding-before: 5px;
          padding-block-start: 5px;
  -webkit-padding-after: 5px;
          padding-block-end: 5px;
  -webkit-padding-start: 10px;
          padding-inline-start: 10px;
  -webkit-padding-end: 20px;
          padding-inline-end: 20px;
  -webkit-margin-after: 5px;
          margin-block-end: 5px;
  background-color: white;
  border: 1px solid royalblue;
  border-radius: 5px; }
  .navTree__secondLevel:hover, .navTree__secondLevel:focus {
    cursor: pointer;
    color: royalblue;
    border: 1px solid dodgerblue;
    background-color: lightblue; }

.navTree__secondLevel--active {
  background-color: lightgrey;
  color: royalblue; }

.navTree__thirdLevel {
  -webkit-padding-before: 5px;
          padding-block-start: 5px;
  -webkit-padding-after: 5px;
          padding-block-end: 5px;
  -webkit-padding-start: 10px;
          padding-inline-start: 10px;
  -webkit-padding-end: 10px;
          padding-inline-end: 10px;
  background-color: white;
  border-radius: 2px; }
  .navTree__thirdLevel:hover, .navTree__thirdLevel:focus {
    cursor: pointer;
    color: royalblue;
    background-color: white; }

.navTree__thirdLevel--active {
  background-color: lightgrey;
  color: royalblue; }

.navTree__firstLevel--aquastop {
  -webkit-padding-start: 12px;
          padding-inline-start: 12px;
  -webkit-padding-before: 10px;
          padding-block-start: 10px;
  -webkit-padding-after: 12px;
          padding-block-end: 12px;
  background-color: lightgrey;
  border: none; }
  .navTree__firstLevel--aquastop:hover, .navTree__firstLevel--aquastop:focus {
    border: none; }

.pageLayout {
  height: 100%;
  width: 100%;
  margin: 20px; }

.navTop {
  max-width: 100%;
  -webkit-margin-after: 20px;
          margin-block-end: 20px; }

.navTop__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-padding-start: 5px;
          padding-inline-start: 5px;
  -webkit-padding-end: 5px;
          padding-inline-end: 5px;
  background-color: white;
  margin: 0;
  -webkit-padding-before: 12px;
          padding-block-start: 12px;
  -webkit-padding-after: 12px;
          padding-block-end: 12px;
  border: 1px solid lightgrey; }

.navTop__link {
  text-decoration: none;
  color: inherit; }

.navTop__item {
  -webkit-margin-start: 10px;
          margin-inline-start: 10px;
  -webkit-margin-end: 10px;
          margin-inline-end: 10px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative; }
  .navTop__item:not(:last-child) {
    width: auto;
    max-width: 100px;
    color: grey; }
  .navTop__item:last-child {
    font-weight: bolder; }
  .navTop__item:not(.navTop__item--vr):not(:last-child):hover, .navTop__item:not(.navTop__item--vr):not(:last-child):focus {
    cursor: pointer;
    color: royalblue; }

.navTop__item--vr {
  color: grey;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0; }

.content {
  min-height: 300px;
  border: 1px solid lightgrey;
  background-color: white;
  -webkit-margin-before: 20px;
          margin-block-start: 20px;
  -webkit-padding-before: 20px;
          padding-block-start: 20px;
  -webkit-padding-after: 20px;
          padding-block-end: 20px;
  -webkit-padding-start: 20px;
          padding-inline-start: 20px;
  -webkit-padding-end: 20px;
          padding-inline-end: 20px; }

.img--montage {
  width: 100%;
  height: auto; }

.img--compensate {
  width: auto; }

.img--equipment {
  width: 75%;
  height: auto; }

.view {
  border: 1px solid lightgrey;
  border-collapse: collapse; }

.view__row {
  border: 1px solid lightgrey; }

.view__data {
  border: 1px solid lightgrey;
  text-align: center; }

.view__data--narrow {
  width: 22%; }

.view__data--patent {
  position: relative; }
  .view__data--patent::after {
    position: absolute;
    content: "Патент РФ";
    color: #CC3300;
    font-size: small;
    font-style: italic;
    top: 5px;
    right: 10px; }

.techInfo {
  border: 1px solid lightgrey;
  border-collapse: collapse; }

.techInfo__row {
  border: 1px solid lightgrey; }

.techInfo__row--top {
  background-color: #E6E6E6; }

.techInfo__data {
  border: 1px solid lightgrey;
  text-align: center;
  -webkit-padding-before: 5px;
          padding-block-start: 5px;
  -webkit-padding-after: 5px;
          padding-block-end: 5px; }

.techInfo__data--first {
  font-weight: bolder;
  text-align: left;
  -webkit-padding-start: 10px;
          padding-inline-start: 10px; }

.techInfo__data--material {
  border: 1px solid lightgrey;
  color: #CC3300;
  font-weight: bolder;
  text-align: left;
  -webkit-padding-start: 10px;
          padding-inline-start: 10px;
  background-color: #EFEFEF; }

.equipment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.heading__active {
  color: dodgerblue; }

.text__active {
  color: dodgerblue; }

.tabs__labels {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid royalblue;
  -webkit-margin-after: 20px;
          margin-block-end: 20px; }

.tabs__tab {
  display: inline-block;
  color: royalblue;
  font-weight: 400;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 5px;
          margin-inline-end: 5px;
  -webkit-padding-start: 20px;
          padding-inline-start: 20px;
  -webkit-padding-end: 20px;
          padding-inline-end: 20px;
  -webkit-padding-before: 10px;
          padding-block-start: 10px;
  -webkit-padding-after: 10px;
          padding-block-end: 10px;
  top: 0;
  background-color: white;
  border: 2px solid lightgrey;
  border-bottom: none;
  cursor: pointer;
  -webkit-transition: all ease-in-out 0.1s;
  transition: all ease-in-out 0.1s;
  text-decoration: none; }
  .tabs__tab:hover, .tabs__tab:focus {
    background-color: skyblue; }

.tabs__tab--active {
  border: 2px solid royalblue;
  background-color: lightgrey;
  border-bottom: none;
  font-weight: bolder; }

.tabs__tab--second {
  background-color: lightblue;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px; }
  .tabs__tab--second:hover, .tabs__tab--second:focus {
    background-color: dodgerblue;
    color: white; }

.tabs__tab--second-active {
  border: 2px solid royalblue;
  background-color: lightgrey;
  border-bottom: none;
  font-weight: bolder; }

.tabs__tabContent {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0; }

.tabs__tabContent--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.tabs__input {
  display: none; }

#tab0:checked + .tabs__tab {
  border: 2px solid royalblue;
  background-color: lightgrey;
  border-bottom: none;
  font-weight: bolder; }

#tab0:checked ~ .tabs__tabContent--0,
#tab1:checked ~ .tabs__tabContent--1,
#tab2:checked ~ .tabs__tabContent--2,
#tab3:checked ~ .tabs__tabContent--3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.pageFooter {
  -webkit-margin-before: auto;
          margin-block-start: auto;
  background-color: royalblue;
  min-height: 100px;
  width: 100%; }

@media (min-width: 720px) {
  .mainNav__item--noTablet {
    display: none; } }

@media (min-width: 940px) {
  .mainNav__item--burger {
    display: none; }
  .navTree {
    position: relative;
    left: 0;
    -webkit-padding-before: 0;
            padding-block-start: 0;
    overflow: auto;
    height: auto;
    background-color: transparent; }
  .navTree__slider {
    display: none; }
  .navTree__list {
    opacity: 1; }
  .navTree__list--first {
    -webkit-padding-start: 10px;
            padding-inline-start: 10px; }
  .pageLayout {
    margin: 10px;
    -webkit-margin-end: 20px;
            margin-inline-end: 20px; } }

/*# sourceMappingURL=style.css.map */
