<div class="navTop">
  <ul class="navTop__list">
    <li class="navTop__item">Главная</li>
    <li class="navTop__item navTop__item--vr">></li>
    <li class="navTop__item">
      <a class="navTop__link" href="demo_catalog.html">Продукция</a>
    </li>
    <li class="navTop__item navTop__item--vr">></li>
    <li class="navTop__item">
      <a class="navTop__link" href="demo_shponki.html">Гидроизоляционные&nbsp;шпонки</a>
    </li>
    <li class="navTop__item navTop__item--vr">></li>
    <li class="navTop__item">
      <a class="navTop__link" href="demo_dv_rubber_1.html">тип ДВ</a>
    </li>
    <li class="navTop__item navTop__item--vr">></li>
    <li class="navTop__item">ПВХ-П</li>
  </ul>
</div>