<div class="navTree__slider">
  <span class="navTree__arrowSlider">&#10148;</span>
</div>
<ul class="navTree__list navTree__list--first">
  <li class="navTree__item navTree__item--aquastop">
    <div class="navTree__firstLevel navTree__firstLevel--aquastop">
      <a class="navTree__link" href="demo_catalog.html">Система АКВАСТОП<sup>®</sup></a>
    </div>
  </li>
  <li class="navTree__item navTree__item--first">
    <div class="navTree__firstLevel">
      <span class="navTree__arrow">&#10148;</span>
      Общие положения
    </div>
  </li>
</ul>