<header class="pageHeader">
  <nav class="mainNav">
    <div class="mainNav__top">
      <div class="mainNav__wrapper width width--fullscreen">
        <img src="/img/logo.png" width="60" height="45" alt="" class="mainNav__logo">
        <a class="mainNav__phone" href="tel:+74951500207">+7 (495) 150-02-07</a>
        <input class="mainNav__search" type="text" name="" id="">
      </div>
    </div>
    <div class="mainNav__bottom">
      <ul class="mainNav__list width width--fullscreen">
        <li class="mainNav__item mainNav__item--home">
          <a href="/" class="mainNav__link">Главная</a>
        </li>
        <li class="mainNav__item">
          <a href="/contacts" class="mainNav__link">Контакты</a>
        </li>
        <li class="mainNav__item mainNav__item--active">
          <a href="/catalog" class="mainNav__link">Каталог</a>
        </li>
        <li class="mainNav__item">
          <a href="/info" class="mainNav__link">Информация</a>
        </li>
        <li class="mainNav__item mainNav__item--noTablet">
          <a href="/objects" class="mainNav__link">Объекты</a>
        </li>
        <li class="mainNav__item mainNav__item--burger">
          <img class="mainNav__burger" src="/img/burger.png" alt="">
        </li>
      </ul>
    </div>

  </nav>
</header>