<div class="navTop">
  <ul class="navTop__list">
    <li class="navTop__item">Главная</li>
    <li class="navTop__item navTop__item--vr">></li>
    <li class="navTop__item">
      <a class="navTop__link" href="/catalog">Продукция</a>
    </li>
    <li class="navTop__item navTop__item--vr">></li>
    <li class="navTop__item">
      <a class="navTop__link" href="/catalog/shpon">Гидроизоляционные&nbsp;шпонки</a>
    </li>
    {% if module_uri %}
    <li class="navTop__item navTop__item--vr">></li>
    <li class="navTop__item">
      <a class="navTop__link" href="/catalog/shpon/{{ module_uri }}">тип {{ module_data['name'] }}</a>
    </li>
    {% end %}
    
    {% if type(module_material) == int %}
    <li class="navTop__item navTop__item--vr">></li>
    <li class="navTop__item">{{ module_data['material'][module_material]['mat_type_ext'] }}</li>
    {% end %}
  </ul>
</div>