<table class="techInfo">
  <tr class="techInfo__row techInfo__row--top">
    <th class="techInfo__data" width="20%" rowspan="2">ТИП</th>
    <th class="techInfo__data techInfo__data--wide" colspan="4">Перемещение, мм</th>
    <th class="techInfo__data" rowspan="2">Давление<br>воды, МПа</th>
    <th class="techInfo__data" rowspan="2">Вид</th>
  </tr>
  <tr class="techInfo__row techInfo__row--top">                        
    <td class="techInfo__data"><strong>Сжатие</strong></td>
    <td class="techInfo__data"><strong>Растяжение</strong></td>
    <td class="techInfo__data"><strong>Сдвиг<br>поперечный</strong></td>
    <td class="techInfo__data"><strong>Сдвиг<br>продольный</strong></td>
  </tr>
  <tr class="techInfo__row">
    <td class="techInfo__data techInfo__data--material" colspan="6">
      {{ module_data['mat_type_ext'] }}
    </td>
  </tr>
  {% for type in module_data['types'] %}
    <tr class="techInfo__row">
      <td class="techInfo__data">
        <span class="techInfo__hover">{{ type['type'] }}</span>
        <img class="techInfo__preview techInfo__preview--small" src="/img/content/dv/dv-{{ type['pic_name'] }}.png" alt="" srcset="">
      </td>
      <td class="techInfo__data">{{ type['movements']['compres'] }}</td>
      <td class="techInfo__data">{{ type['movements']['strech'] }}</td>
      <td class="techInfo__data">{{ type['movements']['shift_v'] }}</td>
      <td class="techInfo__data">{{ type['movements']['shift_h'] }}</td>
      <td class="techInfo__data">{{ type['pressure'] }}</td>
      <td class="techInfo__data techInfo__data--preview">
        <img class="techInfo__loupe" src="/img/icons/icon-loupe.svg" alt="">
        <div class="techInfo__preview techInfo__preview--big">
          <img class="techInfo__previewImg" src="/img/content/dv/dv-{{ type['pic_name'] }}.png" alt="" srcset="">
          <div class="techInfo__previewClose"></div>
        </div>
      </td>
    </tr>
  {% end %}
</table>