<table class="techInfo">
  <tr class="techInfo__row techInfo__row--top">
    <th class="techInfo__data" width="24%" rowspan="2"><strong>Устройство</strong></th>
    <th class="techInfo__data" width="17%" rowspan="2"><strong>Компенсатор</strong></th>
    <th class="techInfo__data" colspan="3"><strong>Перемещение, мм</strong></th>
    <th class="techInfo__data" colspan="2"><strong>Размеры, мм</strong></th>
    <th class="techInfo__data" rowspan="2"><strong>Нагрузка, МПа</strong></th>
  </tr>
  <tr class="techInfo__row techInfo__row--top">
    <td class="techInfo__data" width="8%"><strong><img src="/img/joints/compression.png"></strong></td>
    <td class="techInfo__data" width="8%"><strong><img src="/img/joints/stretching.png"></strong></td>
    <td class="techInfo__data" width="8%"><strong><img src="/img/joints/shift.png"></strong></td>
    <td class="techInfo__data" width="12%"><strong>А</strong></td>
    <td class="techInfo__data" width="12%"><strong>В</strong></td>
  </tr>
  {% for spec in module_data['specs'] %}
    <tr class="techInfo__row">
      <td class="techInfo__data techInfo__data--first">{{ spec['device'][0] }}</td>
      <td class="techInfo__data" rowspan="2">{{ spec['compensator'] }}</td>
      <td class="techInfo__data" rowspan="2">{{ spec['compres'] }}</td>
      <td class="techInfo__data" rowspan="2">{{ spec['strech'] }}</td>
      <td class="techInfo__data" rowspan="2">{{ spec['shift_v'] }}</td>
      <td class="techInfo__data" rowspan="2">{{ spec['dimmension_a'] }}</td>
      <td class="techInfo__data">{{ spec['dimmension_b'][0] }}</td>
      <td class="techInfo__data" rowspan="2">{{ spec['pressure'] }}</td>
    </tr>
    <tr class="techInfo__row">
      <td class="techInfo__data techInfo__data--first">{{ spec['device'][1] }}</td>
      <td class="techInfo__data">{{ spec['dimmension_b'][1] }}</td>
    </tr>
  {% end %}
</table>