<header class="pageHeader">
  <nav class="mainNav">
    <div class="mainNav__top">
      <div class="mainNav__wrapper width width--fullscreen">
        <img src="{{ static_url("img/logo.png") }}" width="60" height="45" alt="" class="mainNav__logo">
        <a class="mainNav__phone" href="tel:+74951500207">+7 (495) 150-02-07</a>
        <input class="mainNav__search" type="text" name="" id="">
      </div>
    </div>
    <div class="mainNav__bottom">
      <ul class="mainNav__list width width--fullscreen">
        <li class="mainNav__item mainNav__item--home">
          <a href="" class="mainNav__link">Главная</a>
        </li>
        <li class="mainNav__item mainNav__item--active">
          <a href="" class="mainNav__link">Продукция</a>
        </li>
        <li class="mainNav__item mainNav__item--noTablet">
          <a href="" class="mainNav__link">Новости</a>
        </li>
        <li class="mainNav__item">
          <a href="" class="mainNav__link">Информация</a>
        </li>
        <li class="mainNav__item">
          <a href="" class="mainNav__link">Партнеры</a>
        </li>
        <li class="mainNav__item">
          <a href="" class="mainNav__link">О нас</a>
        </li>
        <li class="mainNav__item">
          <a href="" class="mainNav__link">Контакты</a>
        </li>
        <li class="mainNav__item mainNav__item--burger">
          <img class="mainNav__burger" src="{{ static_url("img/burger.png") }}" alt="">
        </li>
      </ul>
    </div>

  </nav>
</header>