<section class="tabs">
  <div class="tabs__labels">
    {% for val in module_data['material'] %}
    <a class="tabs__tab tabs__tab--first" href="#TODO">
      {{ val['mat_type_ext'] }}
    </a>
    {% end %}
  </div>
  
  <article class="tabs__tabContent tabs__tabContent--first tabs__tabContent--active">
    <h3 class="heading heading--h3">
      ХАРАКТЕРИСТИКИ - материал -  <span class="heading__active">ПВХ-П</span>
    </h3>
    <div class="tabs__second">
      <div class="tabs__labels">
        <label class="tabs__tab tabs__tab--second" for="tab0">
          Вид
        </label>
        <label class="tabs__tab tabs__tab--second" for="tab1">
          Характеристики
        </label>
        <label class="tabs__tab tabs__tab--second" for="tab2">
          Монтаж
        </label>
        <label class="tabs__tab tabs__tab--second" for="tab3">
          Документация
        </label>
      </div>

      <input type="radio" class="tabs__input" id="tab0" name="tabs" value="tab0" checked>
      <article class="tabs__tabContent tabs__tabContent--second tabs__tabContent--0">
        <h3 class="heading heading--h3">
          ВИД
        </h3>
        <table class="view">
          <tr class="view__row">
            <td class="view__data view__data--narrow">ДВ-150/18</td>
            <td class="view__data view__data--wide">
              <img class="img img--montage" src="/img/content/dv/dv-240-20-pvc.png" alt="" srcset="">
            </td>
          </tr>
          <tr class="view__row">
            <td class="view__data view__data--narrow">ДВ-200/15</td>
            <td class="view__data view__data--wide">
              <img class="img img--montage" src="/img/content/dv/dv-240-20-pvc.png" alt="" srcset="">
            </td>
          </tr>
          <tr class="view__row">
            <td class="view__data view__data--narrow">ДВ-200/20</td>
            <td class="view__data view__data--wide">
              <img class="img img--montage" src="/img/content/dv/dv-240-20-pvc.png" alt="" srcset="">
            </td>
          </tr>
          <tr class="view__row">
            <td class="view__data view__data--narrow">ДВ-240/20</td>
            <td class="view__data view__data--wide">
              <img class="img img--montage" src="/img/content/dv/dv-240-20-pvc.png" alt="" srcset="">
            </td>
          </tr>
          <tr class="view__row">
            <td class="view__data view__data--narrow">ДВ-320/20</td>
            <td class="view__data view__data--wide">
              <img class="img img--montage" src="/img/content/dv/dv-320-20-pvc.png" alt="" srcset="">
            </td>
          </tr>
          <tr class="view__row">
            <td class="view__data view__data--narrow">ДВ-320/30</td>
            <td class="view__data view__data--wide view__data--patent">
              <img class="img img--montage" src="/img/content/dv/dv-320-30-pvc.png" alt="" srcset="">
            </td>
          </tr>
          <tr class="view__row">
            <td class="view__data view__data--narrow">ДВ-320/40</td>
            <td class="view__data view__data--wide view__data--patent">
              <img class="img img--montage" src="/img/content/dv/dv-320-40-pvc.png" alt="" srcset="">
            </td>
          </tr>
          <tr class="view__row">
            <td class="view__data view__data--narrow">ДВ-320/50</td>
            <td class="view__data view__data--wide view__data--patent">
              <img class="img img--montage" src="/img/content/dv/dv-320-50-pvc.png" alt="" srcset="">
            </td>
          </tr>
          <tr class="view__row">
            <td class="view__data view__data--narrow">ДВ-400/50</td>
            <td class="view__data view__data--wide view__data--patent">
              <img class="img img--montage" src="/img/content/dv/dv-400-50-pvc.png" alt="" srcset="">
            </td>
          </tr>
          <tr class="view__row">
            <td class="view__data view__data--narrow">ДВ-500/50</td>
            <td class="view__data view__data--wide view__data--patent">
              <img class="img img--montage" src="/img/content/dv/dv-500-50-pvc.png" alt="" srcset="">
            </td>
          </tr>
        </table>
      </article>

      <input type="radio" class="tabs__input" id="tab1" name="tabs" value="tab1">
      <article class="tabs__tabContent tabs__tabContent--second tabs__tabContent--1">
        <h3 class="heading heading--h3">
          Эксплуатационные характеристики
        </h3>
        
        {% module ShponTable(module_data) %}

      </article>

      <input type="radio" class="tabs__input" id="tab2" name="tabs" value="tab2">
      <article class="tabs__tabContent tabs__tabContent--second tabs__tabContent--2">
        <h3 class="heading heading--h3">
          Монтажная схема
        </h3>
        <img class="img img--montage" src="/img/content/dv/montage-dv-pvc.png" alt="" srcset="">
      </article>

      <input type="radio" class="tabs__input" id="tab3" name="tabs" value="tab3">
      <article class="tabs__tabContent tabs__tabContent--second tabs__tabContent--3">
        <h3 class="heading heading--h3">
          Порядок установки
        </h3>
        <p class="text text--sm text--padding-bottom">
          Технологический регламент ТР 186-07.<br>
          СТО НОСТРОЙ 2.7.156-2014.
        </p>
      </article>
    </div>
  </article>
</section>