<div class="navTree">
  <div class="navTree__slider">
    <span class="navTree__arrowSlider">&#10148;</span>
  </div>
  <ul class="navTree__list navTree__list--first">
    <li class="navTree__item navTree__item--aquastop">
      <div class="navTree__firstLevel navTree__firstLevel--aquastop">
        <a class="navTree__link" href="/catalog">Система АКВАСТОП<sup>®</sup></a>
      </div>
    </li>
    <li class="navTree__item navTree__item--first">
      <div class="navTree__firstLevel">
        <span class="navTree__arrow">&#10148;</span>
        <a class="navTree__link" href="/catalog/general">Общие положения</a>
      </div>
    </li>
    {% for val in module_data %}
    <li class="navTree__item navTree__item--first {% if active_nav_item == val %}navTree__item--first-active{% end %}">
      <div class="navTree__firstLevel {% if active_nav_item == val %}navTree__firstLevel--active{% end %}">
        <span class="navTree__arrow {% if active_nav_item == val %}navTree__arrow--dropped{% end %}">&#10148;</span>
        <a class="navTree__link" href="/catalog/{{ val }}">{{ module_data[val]['dir_name'] }}</a>

        {% if 'dir_contents' in module_data[val] %}
        <ul class="navTree__list navTree__list--second">
          
          {% for content_item in module_data[val]['dir_contents'] %}
          <li class="navTree__item navTree__item--second {% if active_nav_item_second == content_item %}navTree__item--second-active{% end %}">
            <div class="navTree__secondLevel {% if active_nav_item_second == content_item %}navTree__secondLevel--active{% end %}">
              <span class="navTree__arrow {% if active_nav_item_second == content_item %}navTree__arrow--dropped{% end %}">&#10148;</span>
              <!-- IF MATERIAL ??? -->
              <a class="navTree__link" href="/catalog/{{ val }}/{{ content_item }}/{{ module_data[val]['dir_contents'][content_item]['material'][0]['mat_type'] }}">тип {{ module_data[val]['dir_contents'][content_item]['name'] }}</a>
            </div>
            {% if 'material' in module_data[val]['dir_contents'][content_item] %}
            <ul class="navTree__list navTree__list--third">
              {% for material_item in module_data[val]['dir_contents'][content_item]['material'] %}
              <li class="navTree__item navTree__item--third {% if active_nav_item_second == content_item %}navTree__item--third-active{% end %}">
                <a href="/catalog/{{ val }}/{{ content_item }}/{{ material_item['mat_type'] }}" class="navTree__link">
                  <div class="navTree__thirdLevel {% if active_nav_item_third == material_item['mat_type'] %}navTree__thirdLevel--active{% end %}">{{ material_item['mat_type_ext'] }}</div>
                </a>
              </li>
              {% end %}
            </ul>
            {% end %}

          </li>
          {% end %}

        </ul>
        {% end %}

      </div>
    </li>
    {% end %}
  </ul>
</div>